// BASE
body {
  font-family: var(--body-font-family);
}

main {
  min-height: 100vh;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr min-content;
}

.image {
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 100%;
  height: auto;
}
