@use '../base' as *;

.header {
  background-color: $clr-neutral-dark;
  color: $clr-neutral-light;
  & h3 {
    color: $clr-neutral-light;
  }

  & button {
    background-color: transparent;
    color: $clr-neutral-light;
  }
}
